.container {
  margin-left: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  min-height: 90%;
}
.welcome {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: xx-large;
}
